.header__logo {
    max-width: 176px;
    align-items: center;
    margin: 0;
}

@media screen and (max-width: 460px) {
    .header__logo {
        width: 150px;
        margin-left: 20px;
    }
}

@media screen and (max-width: 320px) {
    .header__logo {
        margin: 0;
        width: 142px;
        height: 42px;
    }
}

