.header {
    padding: 28px 48px 0 48px;
    display: flex;
    justify-content: space-between;
    max-width: 1184px;
    max-height: 52px;
}

@media screen and (max-width: 320px) {
    .header {
        padding: 0;
        max-width: 288;
      }
}

@media screen and (max-width:768px) {
    .header {
        max-width: 720px;
        padding-right: 24px;
    }
}

@media screen and (max-width: 1024px) {
    .header {
        max-width: 928px;
    }
}