.place__website {
    display: flex;
    flex-direction: column;
    grid-area: link;
    align-self: end;
}

@media screen and (max-width: 340px) {
    .place__website {
        margin-left: 16px;
        max-width: 288px;
    }
}
