.intro__list-items {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 12px;
    line-height: 18px;
    text-align: left;
    vertical-align: top;
    color: #fff;
}